 body{
    margin:0;
    
 }
#first-part{
          background-image:linear-gradient(rgba(11, 19, 45, 0.7),rgba(37, 38, 38, 0.7)) ,url('images/donation2.jpg');
          background-repeat: no-repeat;
          background-position:center;
          background-size: cover;
          height: 100%;
          width: 100%;
          display: inline-block;
         
          
          
}
.divisions{

            text-align: center;
            width: 60%;
            height: 450px;
            color: white;
            margin-top:10% ;
            margin-left: 20%;
            position: relative;      
}
h1{
   font-family: 'Poppins', sans-serif;
   font-size: 50px;
}
a{
                 text-decoration: none;
                 border: 1px solid;
                 padding: 8px 15px;
                 border-radius: 5px;
                 background-color:rgb(255, 80, 80);
                 color:white;
                 box-shadow: 5px 5px 10px grey;
}
.divisions p{
              padding-bottom: 10px;
}
#second-part{
              text-align: center;
              margin-top: 100px;
}
#amounts{
        display: flex;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        
}
.box{
      border: 1px solid white;
      background:rgb(222, 220, 220);
      padding: 30px 15px;
      margin-left: 15px;
      border-radius: 5px;
}
.different{
             border: 2px solid red;
             background:rgba(232, 179, 187, 0.706);
             color:rgb(255, 80, 80);
}
h2{
     font-size: 35px;
}
.for-color{
            color: grey;
}
#btn-part{
         margin-top: 30px;
}
#third-part{
                text-align: center;
                margin-top: 100px;  
                padding-bottom: 300px;                   
}
.flexibility{
                 float: left;
                 position:relative;
                 width: 100%;
                 margin-left: 100px;             
}
.plans{
          border: 1px solid white;
          border-radius: 5px;
          width: 25%; 
          height: 200px;     
          margin-left:10px; 
          text-align: left;
          padding: 10px;
}
#box-1{
        background-color:rgba(200, 241, 241, 0.885);
}
#box-2{
          background-color: rgb(240, 205, 211);
}
#box-3{
         background-color: rgb(251, 231, 193);
}